@{
    ViewBag.SourceFiles = "/Grid/IFrameWindow";
    ViewBag.Title = "Grid/IFrameMulti";
    var F = Html.F();
}

@section body {

    @(F.Grid().IsFluid(true).CssClass("blockpanel").Title("表格").ShowHeader(true).ShowBorder(true).ID("Grid1").DataIDField("Id").DataTextField("Name").EnableCheckBoxSelect(true)
        .Columns(
            F.RowNumberField(),
            F.RenderField().HeaderText("姓名").DataField("Name").Width(100),
            F.RenderField().HeaderText("性别").DataField("Gender").FieldType(FieldType.Int).RendererFunction("renderGender").Width(80),
            F.RenderCheckField().HeaderText("是否在校").DataField("AtSchool").RenderAsStaticField(true).Width(100),
            F.RenderField().HeaderText("所学专业").DataField("Major").RendererFunction("renderMajor").ExpandUnusedSpace(true),
            F.RenderField().HeaderText("分组").DataField("Group").RendererFunction("renderGroup").Width(80),
            F.RenderField().HeaderText("窗口列").Width(80).RendererFunction("renderWindowField1")
        )
        .Toolbars(
            F.Toolbar()
                .Items(
                    F.Button().Icon(Icon.ApplicationEdit).Text("审批数据").ID("btnApprove").Listener("click", "onApproveClick")
                )
        )
        .DataSource(DataSourceUtil.GetDataTable())
    )
    <br>
    <br>
    注：选择多行数据，然后点击[审批数据]按钮。


    @(F.Window().Hidden(true).Height(450).Width(850).IsModal(true).OnClose(Url.Action("Window1_Close")).Target(Target.Self).EnableResize(true).EnableMaximize(true).EnableIFrame(true).Title("审批").ID("Window1"))

}


@section script {

    <script src="~/res/js/grid.js"></script>

    <script>

    function renderWindowField1(value, params) {
        return '<a href="javascript:;" class="mywindowfield">编辑</a>';
    }

    // 打开窗体
    function openWindow(ids, texts) {

        // /Grid/IFrameWindow?id=104&name=刘国
        var iframeWindowUrl = '@Url.Content("~/Grid/IFrameWindow")';
        var iframeUrl = iframeWindowUrl + '?id=' + ids + '&name=' + encodeURIComponent(texts);

        // 显示窗体
        F.ui.Window1.show(iframeUrl, '详细信息 - ' + texts);
    }


    function onApproveClick(event) {
        var grid = F.ui.Grid1;

        if (!grid.hasSelection()) {
            F.alert('请至少选择一项！');
            return;
        }

        var selectedRows = grid.getSelectedRows(true);

        // DataIDField
        var selectedRowIds = $.map(selectedRows, function (item, index) {
            return item.id;
        }).join(',');

        // DataTextField
        var selectedRowTexts = $.map(selectedRows, function (item, index) {
            return item.text;
        }).join(',');

        openWindow(selectedRowIds, selectedRowTexts);
    }


    F.ready(function () {

        var grid = F.ui.Grid1;

        // 点击表格行中的编辑按钮
        grid.el.on('click', 'a.mywindowfield', function (event) {
            var rowEl = $(this).closest('.f-grid-row');
            var rowData = grid.getRowData(rowEl);

            openWindow(rowData.id, rowData.text);
        });

    });


    </script>
}
