@{
    ViewBag.Title = "Form/FileUploadToolbar";
    var F = Html.F();
}


@section head {

    <style>
        .photo {
            height: 150px;
            line-height: 150px;
            overflow: hidden;
        }

            .photo img {
                height: 150px;
                vertical-align: middle;
            }
    </style>

}

@section body {

    @(F.SimpleForm().IsFluid(true).CssClass("blockpanel").ID("SimpleForm1").BodyPadding(10).ShowBorder(true).Title("表单")
        .Items(
            F.Image().ID("imgPhoto").CssClass("photo").ImageUrl(Url.Content("~/res/images/blank.png")).ShowEmptyLabel(true),
            F.TextBox().Label("用户名").ID("tbxUserName").Required(true).ShowRedStar(true),
            F.TextBox().Label("邮箱").ID("tbxEmail").Required(true).RegexPattern(RegexPattern.EMAIL).RegexMessage("请输入有效的邮箱地址").ShowRedStar(true)
        )
        .Toolbars(
            F.Toolbar().Position(ToolbarPosition.Bottom).ToolbarAlign(ToolbarAlign.Right)
                .Items(
                    F.FileUpload().ID("filePhoto").ButtonText("上传个人头像").AcceptFileTypes("image/*").ButtonOnly(true).OnFileSelected(Url.Action("filePhoto_FileSelected"), "filePhoto").ButtonIconFont(IconFont._Upload),
                    F.Button().IconFont(IconFont._Save).ID("btnSubmit").OnClick(Url.Action("btnSubmit_Click"), "SimpleForm1", new Parameter("imgPhotoUrl", "F.ui.imgPhoto.el.find('img').attr('src')")).ValidateForms("SimpleForm1").Text("提交表单")
                )
        )
    )
    <br>

    @(F.Label().ID("labResult"))

    注：
    <ul>
        <li>
            上传个人头像通过 AcceptFileTypes="image/*" 来控制默认显示的文件类型
        </li>
        <li>
            <a href="http://stackoverflow.com/questions/181214/file-input-accept-attribute-is-it-useful" target="_blank">AcceptFileTypes 的有效值</a>
        </li>
    </ul>

}

