<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FineUIMvc" type="FineUIMvc.ConfigSection, FineUIMvc" requirePermission="false" />
  </configSections>
  <!-- 可用的配置项（这里列的都是默认值）: 
      Theme="Default" 
      Language="zh_CN" 
      DebugMode="false"
      FormMessageTarget="Qtip" 
      FormOffsetRight="0" 
      FormLabelWidth="100" 
      FormLabelSeparator="：" 
      FormLabelAlign="Left" 
      FormRedStarPosition="AfterText" 
      EnableAjax="true" 
      EnableAjaxLoading="true" 
      AjaxTimeout="120" 
      AjaxLoadingType="Default" 
      AjaxLoadingText="" 
      ShowAjaxLoadingMaskText=false
      AjaxLoadingMaskText="" 
      CustomTheme="" 
      CustomThemeBasePath="~/res/themes" 
      IconBasePath="~/res/icon" 
      JSBasePath="~/res/js"
      IEEdge="true"
      EnableShim="false"  
      DisplayMode="Normal"
      MobileAdaption="true"
      EnableAnimation="false"
      LoadingImageNumber="1"
  -->
  <FineUIMvc DebugMode="true" CustomTheme="pure_black" EnableAnimation="true" />

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
  </appSettings>

  <system.web>
    <httpModules>
      <add name="FineUIMvcScriptModule" type="FineUIMvc.ScriptModule, FineUIMvc"/>
    </httpModules>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUIMvc.ResourceHandler, FineUIMvc"/>
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Login" defaultUrl="~/" timeout="120" protection="All" path="/" />
    </authentication>


    <compilation debug="true"/>

    <!-- Request Validation: https://msdn.microsoft.com/en-us/library/hh882339.aspx -->
    <httpRuntime requestValidationMode="2.0"/>

    <customErrors mode="Off"/>

  </system.web>


  <!-- 如果 Web 服务器使用的是集成模式（非经典模式），请添加 system.webServer  -->
  <!--<system.webServer>
    <modules>
      <add name="FineUIMvcScriptModule" type="FineUIMvc.ScriptModule, FineUIMvc"/>
    </modules>
    <handlers>
      <add name="FineUIMvcResourceHandler" verb="GET" path="res.axd" type="FineUIMvc.ResourceHandler, FineUIMvc"/>
    </handlers>
  </system.webServer>-->


  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
