@{
    ViewBag.Title = "Other/AuthenticationTimeoutAsync";
    var F = Html.F();
}


@section body {

    @(F.Button().ID("btnRegisterHook").Text("1. 注册跳转拦截函数").Listener("click", "onRegisterHookClick"))
    <br>
    <br>

    @(F.Button().ID("Button2").Text("2. 点击回发（模拟 Forms Authentication 超时）").OnClick(Url.Action("Button2_Click")))
    <br>
    <br>
    <br>
    请尝试如下两种不同操作步骤：
    <br>
    <br>
    <div>操作一：</div>
    <ol>
        <li>刷新页面</li>
        <li>点击按钮2 -&gt; 直接跳转到首页</li>
    </ol>
    <br>
    <div>操作二：</div>
    <ol>
        <li>刷新页面</li>
        <li>点击按钮1</li>
        <li>点击按钮2 -&gt; 首先弹出确认框，点击确认后才跳转到首页；如果点击取消，则留在本页</li>
    </ol>



}


@section script {

    <script>


        function onRegisterHookClick() {
            F.beforeAjaxSuccess(function (data) {

                // 通过返回的字符串，判断当前是否登陆超时，执行跳转
                if (data.indexOf('window.location.href=') === 0) {

                    // F.confirm是异步函数，直接返回
                    F.confirm({
                        message: '登陆超时，是否跳转到首页？',
                        ok: function () {
                            // 重新执行返回的脚本
                            new Function(data)();
                        },
                        cancel: function () {
                            // 继续留在当前页面，啥也不做
                        }
                    });


                    // 需要显式的返回 false，来阻止执行返回的脚本
                    return false;
                }

            });

            F.alert('拦截函数注册成功！');
        }

    </script>

}