@{
    ViewBag.Title = "Layout/MinHeight";
    var F = Html.F();
}


@section body {

    <div id="content1" style="display:none;">
        <p>
            <a href="http://tech.163.com/special/jobsdead/" style="font-size: 18px" target="_blank"><b>乔布斯</b></a>
        </p>
        <p>
            乔布斯于1955年2月24日出生，苹果创始人之一。今年8月苹果超越埃克森美孚成为全球最大市值企业，截止上季度持有现金达到762亿美金，甚至超过了美国政府国库存款。
        </p>
        <p>
            遗憾的是，苹果的取得巨大成功还是无法给乔布斯一个健康的身体，乔布斯2003年被发现患有胰脏癌，随后又查出肝癌，危在旦夕的乔布斯在经历了8年的抗癌斗争、3次病休、若干次手术后，于2011年8月25日正式宣布从CEO位置辞职。2011年10月6日，乔布斯在苹果发布iPhone 4S后的第二天与世长辞。
        </p>
    </div>

    <div id="content2" style="display:none;">
        <p>
            <a href="http://baike.baidu.com/view/3645.htm" style="font-size: 18px" target="_blank"><b>比尔·盖茨</b></a>
        </p>
        <p>
            比尔·盖茨（Bill Gates），全名威廉·亨利·盖茨三世，简称比尔或盖茨。1955年10月28日出生于美国华盛顿州西雅图，13岁开始计算机编程设计，18岁考入哈佛大学，一年后从哈佛退学，1975年与好友保罗·艾伦一起创办了微软公司，比尔盖茨担任微软公司董事长、CEO和首席软件设计师。
        </p>
        <p>
            比尔·盖茨1995-2007年连续13年成为《福布斯》全球富翁榜首富，连续20年成为《福布斯》美国富翁榜首富。
        </p>
    </div>

    @(F.Window().ID("Window1").Title("窗体一（MinHeight=300，请尝试改变高度）").Top(50).Left(100).Width(550).MinHeight(300).BodyPadding(10).ShowBorder(true).EnableResize(true).IsModal(false).AutoScroll(true).ContentEl("#content1"))


    @(F.Window().ID("Window2").Title("窗体二（Height=300，请尝试改变高度）").Top(150).Left(250).Width(550).Height(300).BodyPadding(10).ShowBorder(true).EnableResize(true).IsModal(false).AutoScroll(true).ContentEl("#content2"))


}

