@{
    ViewBag.Title = "IFrame/Window/IFrameWindow";
    var F = Html.F();
}


@section head {

    <style>
        .steps {
            border: solid 1px red;
            padding: 5px;
            margin-bottom: 5px;
        }
    </style>

}

@section body {

    <div id="container1">
        按照如下步骤操作来观察“确认关闭”对话框：
        <ul>
            <li>编辑本表单（比如选中复选框、修改日期）</li>
            <li>点击弹出窗体右上角关闭图标、关闭按钮、当前选项卡关闭图标、浏览器的关闭按钮或者浏览器的刷新图标，<a target="_blank" href="@Url.Content("~/res/images/formchangeconfirm.png")">查看图示</a></li>
            <li>弹出确认关闭窗体的对话框</li>
        </ul>
    </div>

    @(F.Panel().ID("Panel1").ShowBorder(false).ShowHeader(false).Layout(LayoutType.Fit).BodyPadding(10).IsViewPort(true)
        .Toolbars(
            F.Toolbar()
                .Items(
                    F.Button().ID("btnClose").Text("关闭").Icon(Icon.SystemClose).Listener("click", "F.activeWindow.hide();"),
                    F.Button().ID("btnClosePostBack").Text("保存数据").ValidateForms("SimpleForm1").OnClick(Url.Action("btnClosePostBack_Click")).Icon(Icon.SystemSave)
                )
        )
        .Items(
            F.SimpleForm().ID("SimpleForm1").ShowBorder(false).ShowHeader(false).AutoScroll(true).BodyPadding(10)
                .Items(
                    F.Panel().CssClass("steps").ShowHeader(false).ContentEl("#container1"),
                    F.NumberBox().ID("NumberBox1").Label("数字输入框").Required(true).ShowRedStar(true),
                    F.CheckBox().ID("CheckBox1").Label("复选框"),
                    F.TextBox().ID("TextBox1").Label("文本输入框").ShowRedStar(true).Required(true),
                    F.DatePicker().ID("DatePicker1").SelectedDate("2008-05-09").Label("日期选择器").Text("2008-05-09"),
                    F.TextBox().ID("TextBox2").Label("默认隐藏的字段").Hidden(true),
                    F.DropDownList().Label("下拉列表").ID("DropDownList1")
                        .Items(
                            F.ListItem().Text("可选项1").Value("Value1").Selected(true),
                            F.ListItem().Text("可选项2（不可选择）").Value("Value2").EnableSelect(false),
                            F.ListItem().Text("可选项3（不可选择）").Value("Value3").EnableSelect(false),
                            F.ListItem().Text("可选项4").Value("Value4"),
                            F.ListItem().Text("可选项5").Value("Value5"),
                            F.ListItem().Text("可选项6").Value("Value6"),
                            F.ListItem().Text("可选择项7").Value("Value7"),
                            F.ListItem().Text("可选择项8").Value("Value8"),
                            F.ListItem().Text("普通型1 < L > 1.5").Value("普通型1 < L > 1.5"),
                            F.ListItem().Text("可选择项9").Value("Value9"),
                            F.ListItem().Text("可选择项10").Value("Value10"),
                            F.ListItem().Text("可选择项11").Value("Value11"),
                            F.ListItem().Text("可选择项12").Value("Value12"),
                            F.ListItem().Text("可选择项13").Value("Value13"),
                            F.ListItem().Text("可选择项14").Value("Value14"),
                            F.ListItem().Text("可选择项15").Value("Value15"),
                            F.ListItem().Text("可选择项16").Value("Value16")
                        )
                )
        )
    )

    @{
        F.PageManager.EnableFormChangeConfirm(true);
    }


}

