@{
    ViewBag.Title = "FormLayout/LayoutPanelColumn";
    var F = Html.F();
}


@section body {

    @(F.Form().IsFluid(true).CssClass("blockpanel").ID("Form1").MessageTarget(MessageTarget.Qtip).BodyPadding(10).Title("表单")
        .Items(
            F.Panel().ID("Panel2").ShowHeader(false).CssClass("").ShowBorder(false).Layout(LayoutType.Column)
                .Items(
                    F.Label().ID("Label2").Width(100).CssClass("marginr").ShowLabel(false).Text("用户名："),
                    F.TextBox().ID("TextBox2").ShowLabel(false).Label("用户名").Required(true).Width(150).CssClass("marginr"),
                    F.Button().ID("Button3").Text("按钮一").CssClass("marginr"),
                    F.Button().ID("Button4").Text("按钮二")
                ),
            F.Panel().ID("Panel1").ShowHeader(false).ShowBorder(false).Layout(LayoutType.Column)
                .Items(
                    F.Label().ID("Label1").Width(100).CssClass("marginr").ShowLabel(false).Text("作息起止时间："),
                    F.DatePicker().ID("DatePicker1").ShowLabel(false).Label("作息开始时间").Required(true).CssClass("marginr").Width(150),
                    F.DatePicker().ID("DatePicker2").ShowLabel(false).Label("作息结束时间").Required(true).CompareControl("DatePicker1").CompareOperator(Operator.GreaterThan).CompareMessage("结束日期应该大于开始日期！").Width(150)
                ),
            F.Panel().ID("Panel3").ShowHeader(false).ShowBorder(false).Layout(LayoutType.Column).CssClass("")
                .Items(
                    F.Label().ID("Label3").Width(100).CssClass("marginr").ShowLabel(false).Text("上班起止时间："),
                    F.DatePicker().ID("DatePicker3").ShowLabel(false).Label("上班开始时间").Required(true).CssClass("marginr").ColumnWidth("50%"),
                    F.DatePicker().ID("DatePicker4").ShowLabel(false).Label("上班结束时间").Required(true).CompareControl("DatePicker3").CompareOperator(Operator.GreaterThan).CompareMessage("结束日期应该大于开始日期！").ColumnWidth("50%")
                ),
            F.Panel().ID("Panel4").ShowHeader(false).ShowBorder(false).Layout(LayoutType.Column).CssClass("")
                .Items(
                    F.Label().ID("Label4").Width(100).CssClass("marginr").ShowLabel(false).Text("工作时间："),
                    F.TextBox().Width(40).ShowLabel(false).Label("工作时间（小时）").Required(true),
                    F.Label().Text("小时").MarginLeft(5).MarginRight(10),
                    F.TextBox().Width(40).ShowLabel(false).Label("工作时间（分钟）").Required(true).ID("TextBox3"),
                    F.Label().ID("Label6").Text("分钟").MarginLeft(5)
                ),
            F.Button().ID("btnSubmit").Text("提交表单").ValidateForms("Form1").ValidateMessageBox(true).OnClick(Url.Action("btnSubmit_Click"), "Form1")
        )
    )
    <br>
    注意：
    <ul>
        <li>
            表单字段的ShowLabel=false，表单验证失败的对话框消息中用到了 Label 属性。
        </li>
        <li>
            表单验证失败的错误提示类型是Qtip，而不是默认的Side。
        </li>
    </ul>


}

