@{
    ViewBag.Title = "GridPaging/ClearSelectionBeforePaging";
    var F = Html.F();
}


@section body {

    @(F.Grid().IsFluid(true).CssClass("blockpanel").EnableCheckBoxSelect(true).ShowHeader(true).ShowBorder(true).Title("表格（跨页选中行）").ID("Grid1").DataIDField("Id").DataTextField("Name").AllowPaging(true).PageSize(5).KeepCurrentSelection(true).ClearSelectionBeforePaging(false).KeepPagedSelection(true)
        .Columns(
            F.RowNumberField(),
            F.RenderField().HeaderText("姓名").DataField("Name").Width(100),
            F.RenderField().HeaderText("性别").DataField("Gender").FieldType(FieldType.Int).RendererFunction("renderGender").Width(80),
            F.RenderField().HeaderText("入学年份").DataField("EntranceYear").FieldType(FieldType.Int).Width(100),
            F.RenderCheckField().HeaderText("是否在校").DataField("AtSchool").RenderAsStaticField(true).Width(100),
            F.RenderField().HeaderText("所学专业").DataField("Major").RendererFunction("renderMajor").ExpandUnusedSpace(true),
            F.RenderField().HeaderText("分组").DataField("Group").RendererFunction("renderGroup").Width(80),
            F.RenderField().HeaderText("注册日期").DataField("LogTime").FieldType(FieldType.Date).Renderer(Renderer.Date).RendererArgument("yyyy-MM-dd").Width(100)
        )
        .DataSource(DataSourceUtil.GetDataTable2())

    )
    <br>

    @(F.Button().Text("选中了哪些行").CssClass("marginr").Listener("click", "notifySelectedRows();"))
    <br>
    <br>
    注意设置属性：
    <ul>
        <li>DataIDField=Id：行标识符字段</li>
        <li>ClearSelectionBeforePaging=false：分页前不要清空选中项</li>
        <li>KeepCurrentSelection=true：多选时保持当前已选中行</li>
        <li>KeepPagedSelection=true：多选时保持分页中已选中行</li>
    </ul>

}


@section script {

    <script src="~/res/js/grid.js"></script>

    <script>

        function notifySelectedRows() {
            F.alert('选中行的ID列表为：' + F.ui.Grid1.getSelectedRows().join(', '));
        }

    </script>
}