@{
    ViewBag.Title = "Accordion/Tree/DefaultPage";
    var F = Html.F();
}


@section body {

    请注意，本示例如何做到如下几点：
    <ul>
        <li>如何将树控件放在Accordion控件中； </li>
        <li>如何从XML文件加载树控件； </li>
        <li>如何在通过递归改变每个树节点的Target属性； </li>
        <li>树节点的Target属性是如何影响链接的打开位置。 </li>
    </ul>
    <br />
    <br />
    <br />
    注：必须点击树节点文本才能打开相应的页面。如果希望点击树节点空白的地方也能打开，请设置EnableNodeHyperLink=true。


}

