@{
    ViewBag.Title = "Panel/Group";
    var F = Html.F();
}


@section body {

    <div id="content1">
        <a href="http://tech.163.com/special/jobsdead/" style="font-size: 18px" target="_blank"><b>乔布斯</b></a><br />
        <div>
            <p>
                乔布斯于1955年2月24日出生，苹果创始人之一。今年8月苹果超越埃克森美孚成为全球最大市值企业，截止上季度持有现金达到762亿美金，甚至超过了美国政府国库存款。
            </p>
            <p>
                遗憾的是，苹果的取得巨大成功还是无法给乔布斯一个健康的身体，乔布斯2003年被发现患有胰脏癌，随后又查出肝癌，危在旦夕的乔布斯在经历了8年的抗癌斗争、3次病休、若干次手术后，于2011年8月25日正式宣布从CEO位置辞职。2011年10月6日，乔布斯在苹果发布iPhone 4S后的第二天与世长辞。
            </p>
        </div>
    </div>


    @(F.Panel().IsFluid(true).CssClass("blockpanel").EnableCollapse(true).Title("面板（自动高度）").BodyPadding(10).ID("Panel1")
        .Items(
            F.GroupPanel().Collapsed(true).EnableCollapse(true).ID("GroupPanel1").BodyPadding(10).Title("分组面板一")
                .Items(
                    F.SimpleForm().ShowHeader(false).ShowBorder(false).ID("SimpleForm1")
                        .Items(
                            F.TextBox().Label("名称").ID("TextBox1"),
                            F.TextArea().Label("备注").ID("TextArea1")
                        )
                ),
            F.GroupPanel().Title("分组面板二").EnableCollapse(true).ID("GroupPanel2")
                .Toolbars(
                    F.Toolbar().Position(ToolbarPosition.Bottom).ID("Toolbar1")
                        .Items(
                            F.Button().Text("左侧的按钮").ID("Button3"),
                            F.ToolbarFill().ID("ToolbarFill1"),
                            F.Button().Text("右侧的按钮").ID("Button1")
                        )
                )
                .Items(
                    F.Panel().ShowHeader(false).ShowBorder(false).ID("ContentPanel1").BodyPadding(10).ContentEl("#content1")
                )
        )
    )
    <br>

    @(F.Button().OnClick(Url.Action("Button2_Click"), new Parameter("collapsed", "F.ui.GroupPanel2.collapsed")).Text("展开/折叠分组面板二").ID("Button2"))
    <br>

}

