@{
    ViewBag.Title = "Grid/CheckFieldDisableSome";
    var F = Html.F();
}


@section head {

    <style>
        .f-grid-cell.hidethis .f-grid-checkbox {
            display: none;
        }
    </style>

}


@section body {

    @(F.Grid().IsFluid(true).CssClass("blockpanel").Title("表格").ShowHeader(true).ShowBorder(true).ID("Grid1").DataIDField("Id").DataTextField("Name")
        .Columns(
            F.RowNumberField(),
            F.RenderField().HeaderText("姓名").DataField("Name").Width(100),
            F.RenderField().HeaderText("性别").DataField("Gender").FieldType(FieldType.Int).RendererFunction("renderGender").Width(80),
            F.RenderField().HeaderText("入学年份").DataField("EntranceYear").FieldType(FieldType.Int).Width(100),
            F.RenderCheckField().HeaderText("是否在校").DataField("AtSchool").RenderAsStaticField(true).Width(100),
            F.RenderField().HeaderText("是否在校").ColumnID("AtSchool2").DataField("AtSchool").RendererFunction("renderAtSchool2").Width(100),
            F.RenderField().HeaderText("所学专业").DataField("Major").RendererFunction("renderMajor").ExpandUnusedSpace(true),
            F.RenderField().HeaderText("注册日期").DataField("LogTime").FieldType(FieldType.Date).Renderer(Renderer.Date).RendererArgument("yyyy-MM-dd").Width(100)
        )
        .DataSource(DataSourceUtil.GetDataTable())
    )
    <br />
    <br />
    注：本示例禁用 EntranceYear&lt;=2004 的复选框，通过CSS样式来隐藏（display:none;）。
    <br />
    <br />
    @(F.Button().Text("选中了哪些行").ID("Button1").MarginRight(5).Listener("click", "notifySelectedRows('Grid1');"))

    @(F.Button().Text("选中行复选框的状态").ID("Button2").Listener("click", "notifyCheckFieldStatus();"))

}


@section script {

    <script src="~/res/js/grid.js"></script>

    <script>

        function renderAtSchool2(value, params) {
            var disabledHtml = '';
            var entranceYear = params.rowData.values['EntranceYear'];
            if (entranceYear <= 2004) {
                disabledHtml = ' f-state-disabled';
            }

            var checkedHtml = value ? ' f-checked' : '';
            return '<i class="f-grid-checkbox  f-iconfont f-checkbox f-icon ' + disabledHtml + checkedHtml + '"></i>';
        }

        function notifyCheckFieldStatus(event) {
            var grid1 = F.ui.Grid1;

            var rowEls = grid1.getSelectedRowEls();
            if (!rowEls.length) {
                F.alert('没有选中项！');
                return;
            }

            var result = ['<table class="result">'];
            result.push('<tr>');
            result.push('<th>ID</th>');
            result.push('<th>姓名</th>');
            result.push('<th>是否在校</th>');
            result.push('</tr>');
            rowEls.each(function () {
                var cnode = $(this);
                var rowData = grid1.getRowData(cnode);
                var atSchoolEl = cnode.find('.f-grid-cell-AtSchool2 .f-grid-checkbox');
                var isChecked = atSchoolEl.hasClass('f-checked');

                result.push('<tr>');
                result.push('<td>' + rowData.id + '</td>');
                result.push('<td>' + rowData.text + '</td>');
                result.push('<td>' + (isChecked ? '在校' : '不在校') + '</td>');
                result.push('</tr>');
            });
            result.push('</table>');

            F.notify({
                message: result.join(''),
                target: '_top',
                header: false,
                messageIcon: '',
                positionX: 'center',
                positionY: 'top'
            });
        }


        F.ready(function () {

            // 响应复选框的点击事件
            F.ui.Grid1.el.on('click', '.f-grid-cell-AtSchool2 .f-grid-checkbox', function () {
                var cnode = $(this);
                if (cnode.hasClass('f-state-disabled')) {
                    return;
                }

                cnode.toggleClass('f-checked');
            });

        });
    </script>
}