@{
    ViewBag.Title = "Window/MinWidth";
    var F = Html.F();
}


@section body {

    <div id="content1">
        <p>
            <a href="http://tech.163.com/special/jobsdead/" style="font-size: 18px" target="_blank"><b>乔布斯</b></a>
        </p>
        <p>
            乔布斯于1955年2月24日出生，苹果创始人之一。今年8月苹果超越埃克森美孚成为全球最大市值企业，截止上季度持有现金达到762亿美金，甚至超过了美国政府国库存款。
        </p>
        <p>
            遗憾的是，苹果的取得巨大成功还是无法给乔布斯一个健康的身体，乔布斯2003年被发现患有胰脏癌，随后又查出肝癌，危在旦夕的乔布斯在经历了8年的抗癌斗争、3次病休、若干次手术后，于2011年8月25日正式宣布从CEO位置辞职。2011年10月6日，乔布斯在苹果发布iPhone 4S后的第二天与世长辞。
        </p>
    </div>

    @(F.Button().Text("显示窗体").ID("btnShowWindow").Listener("click", "F.ui.Window1.show();"))
    <br>
    <br>

    @(F.Button().Text("关闭窗体").ID("btnCloseWindow").Listener("click", "F.ui.Window1.hide();"))
    <br>
    <br>
    <br>
    注：本示例窗体的初始宽度高度为400px，最小宽度高度为300px，最大宽度高度为600px，尝试改变窗体的大小。
    <br>

    @(F.Window().MaxWidth(600).MaxHeight(600).MinHeight(300).MinWidth(300).BodyPadding(10).AutoScroll(true).IsModal(false).EnableResize(true).EnableMaximize(false).Title("窗体").Icon(Icon.TagBlue).Height(400).Width(400).ID("Window1").ContentEl("#content1"))
    <br>


}

