@{
    ViewBag.Title = "Other/ClientValidate";
    var F = Html.F();
}


@section body {

    @(F.SimpleForm().IsFluid(true).CssClass("blockpanel").ID("SimpleForm1").BodyPadding(10).Title("用户注册表单")
        .Items(
            F.TextBox().ID("tbxUserName").Label("用户名").Required(true).NextFocusControl("tbxPassword").ShowRedStar(true).Text("admin"),
            F.TextBox().ID("tbxPassword").Label("密码").Required(true).ShowRedStar(true).NextFocusControl("btnRegister").TextMode(TextMode.Password),
            F.Button().ID("btnRegister").Text("注册").OnClick(Url.Action("btnRegister_Click")).OnClientClick("if(!clientValidate()){return false;};").ValidateForms("SimpleForm1").ValidateTarget(Target.Top)
        )
    )
    <br>
    <br>
    注：
    <ul>
        <li>
            提交表单时客户端验证[密码]必须为 6 个字符，否则标记为无效。
        </li>
    </ul>


}


@section script {

    <script>
        // 客户端验证
        function clientValidate() {
            var tbxPassword = F.ui.tbxPassword;
            var value = $.trim(tbxPassword.getValue());
            if (value.length === 6) {
                return true;
            } else {
                F.alert('密码必须为 6 个字符！');
                tbxPassword.markInvalid();
                return false;
            }
        }
    </script>
}