@{
    ViewBag.Title = "Grid/CheckFieldColumnHeader";
    var F = Html.F();
}


@section body {


    @(F.Grid().IsFluid(true).CssClass("blockpanel").Title("表格").ShowHeader(true).ShowBorder(true).ID("Grid1").DataIDField("Id").DataTextField("Name")
        .Columns(
            F.RowNumberField(),
            F.RenderField().HeaderText("姓名").DataField("Name").Width(100),
            F.RenderField().HeaderText("性别").DataField("Gender").FieldType(FieldType.Int).RendererFunction("renderGender").Width(80),
            F.RenderField().HeaderText("入学年份").DataField("EntranceYear").FieldType(FieldType.Int).Width(100),
            F.RenderField().HeaderText("所学专业").DataField("Major").RendererFunction("renderMajor").ExpandUnusedSpace(true),
            F.RenderCheckField().HeaderText("是否在校").DataField("AtSchool").RenderAsStaticField(true).Width(100),
            F.RenderCheckField().HeaderText("<i class=\"f-icon f-grid-checkbox f-iconfont f-checkbox myheadercheckbox\"></i>&nbsp;是否在校2").ColumnID("AtSchool2").DataField("AtSchool").RenderAsStaticField(false).Width(100),
            F.RenderCheckField().HeaderText("<i class=\"f-icon f-grid-checkbox f-iconfont f-checkbox myheadercheckbox\"></i>&nbsp;是否在校3").ColumnID("AtSchool3").DataField("AtSchool").RenderAsStaticField(false).Width(100),
            F.RenderCheckField().HeaderText("<i class=\"f-icon f-grid-checkbox f-iconfont f-checkbox myheadercheckbox\"></i>&nbsp;是否在校4").ColumnID("AtSchool4").DataField("AtSchool").RenderAsStaticField(false).Width(100)
        )
        .DataSource(DataSourceUtil.GetDataTable())
    )
    <br>
    <br>

    @(F.Button().Text("选中行复选框的状态").ID("Button2").Listener("click", "notifyCheckFieldStatus();"))

}

@section script {

    <script src="~/res/js/grid.js"></script>

    <script>

        function notifyCheckFieldStatus(event) {
            var grid1 = F.ui.Grid1;

            var rowEls = grid1.getSelectedRowEls();
            if (!rowEls.length) {
                F.alert('没有选中项！');
                return;
            }

            var result = ['<table class="result">'];
            result.push('<tr>');
            result.push('<th>ID</th>');
            result.push('<th>姓名</th>');
            result.push('<th>是否在校2</th>');
            result.push('<th>是否在校3</th>');
            result.push('<th>是否在校4</th>');
            result.push('</tr>');
            rowEls.each(function () {
                var cnode = $(this);
                var rowData = grid1.getRowData(cnode);
                var isChecked2 = cnode.find('.f-grid-cell-AtSchool2 .f-grid-checkbox').hasClass('f-checked');
                var isChecked3 = cnode.find('.f-grid-cell-AtSchool3 .f-grid-checkbox').hasClass('f-checked');
                var isChecked4 = cnode.find('.f-grid-cell-AtSchool4 .f-grid-checkbox').hasClass('f-checked');

                result.push('<tr>');
                result.push('<td>' + rowData.id + '</td>');
                result.push('<td>' + rowData.text + '</td>');
                result.push('<td>' + (isChecked2 ? '在校' : '不在校') + '</td>');
                result.push('<td>' + (isChecked3 ? '在校' : '不在校') + '</td>');
                result.push('<td>' + (isChecked4 ? '在校' : '不在校') + '</td>');
                result.push('</tr>');
            });
            result.push('</table>');

            F.notify({
                message: result.join(''),
                target: '_top',
                header: false,
                messageIcon: '',
                positionX: 'center',
                positionY: 'top'
            });
        }


        F.ready(function () {

            var grid1 = F.ui.Grid1;

            grid1.el.on('click', '.myheadercheckbox', function (event) {
                var checked = $(this).hasClass('f-checked'), thIndex = $(this).parents('th').index();

                // nth-child选择器是从 1 开始的
                var checkboxEls = grid1.el.find('.f-grid-row td:nth-child(' + (thIndex + 1) + ') .f-grid-checkbox');
                checkboxEls.toggleClass('f-checked', checked);
            });
        });

    </script>
}