@{
    ViewBag.Title = "GridInput/Input";
    var F = Html.F();
}


@section body {

    @(F.Grid().IsFluid(true).CssClass("blockpanel").Title("表格").ShowHeader(true).ShowBorder(true).ID("Grid1").DataIDField("Id").DataTextField("Name")
        .Columns(
            F.RowNumberField(),
            F.RenderField().HeaderText("姓名").DataField("Name").Width(100),
            F.RenderField().HeaderText("性别").DataField("Gender").FieldType(FieldType.Int).RendererFunction("renderGender").Width(80),
            F.RenderField().HeaderText("入学年份").DataField("EntranceYear").FieldType(FieldType.Int).Width(100),
            F.RenderCheckField().HeaderText("是否在校").DataField("AtSchool").RenderAsStaticField(true).Width(100),
            F.RenderField().HeaderText("所学专业").DataField("Major").RendererFunction("renderMajor").ExpandUnusedSpace(true),
            F.RenderField().HeaderText("分组").DataField("Group").RendererFunction("renderGroup").Width(100)
        )
        .DataSource(DataSourceUtil.GetDataTable())
    )
    <br>
    <br>
    注：
    <ul>
        <li>使用 Enter 或者 Tab 键遍历所有的文本输入框</li>
        <li>点击输入框会选中文本</li>
    </ul>

    @(F.Button().Text("获取用户输入的分组值").ID("Button1").OnClick(Url.Action("Button1_Click"), new Parameter("inputs", "getUserInputs()")))

}


@section script {

    <script src="~/res/js/grid.js"></script>

    <script>

        function renderGroup(value, params) {
            return F.formatString('<input class="myinput" value="{0}" style="width:80px;" type="text">', value);
        }

        var inputselector = 'input.myinput';

        function getUserInputs() {
            var result = [];

            var grid1 = F.ui.Grid1;
            grid1.getRowEls().each(function () {
                var rowEl = $(this);
                var rowData = grid1.getRowData(rowEl);

                result.push([rowData.id, rowData.text, rowEl.find(inputselector).val()]);
            });

            return F.toJSON(result);
        }

        function registerEnterEvent() {
            var grid = F.ui.Grid1;

            grid.el.on('keydown', inputselector, function (event) {
                if (event.keyCode === F.KEY.ENTER || event.keyCode === F.KEY.TAB) {
                    var nextRow = $(this).closest('.f-grid-row').next();
                    if (nextRow.length) {
                        nextRow.find(inputselector).select();
                    }

                    // 阻止 Enter 或者 Tab 的默认行为
                    event.preventDefault();
                }
            });

            grid.el.on('click', inputselector, function (event) {
                $(this).select();
            });
        }

        F.ready(function () {
            registerEnterEvent();
        });


    </script>
}
